body{
     background-color: #414141;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     gap: 40px;
     
}
.snake{
     background-color: #414141;
}
.scores{
     display: flex;
     justify-content: center;
     gap: 30vw;
}

.board-1{
    
     border: 10px solid #595f43;
     border-radius: 30px;
     box-shadow: 0 0 0 10px #595f43;
}
.board-2{
     border: 8px solid #abb78a;
     border-radius: 26px;
     box-shadow: 0 0 0 10px #abb78a;
}
.board-3{
     border: 30px solid #8b966c;
     border-radius: 20px;
     box-shadow: 0 0 0 5px #8b966c;
     background-color: #c4cfa3;
}
#game-board{
     border-radius: 100px;
     display: grid;
     grid-template-columns: repeat(20,20px);
     grid-template-rows: repeat(20,20px);
     margin: 5px;
}
#instruction-text{
     position: absolute;
     top: 60%;
     color: #333;
     width: 300px;
     text-align: center;
     padding: 30px;
     margin: 0;
}
.high-score{

 color: #d8ddca;    
 display: none;
}
.snake{
     width: 100%;
     height: 100%;
      border: #5a5a5a 1px dotted;

}
.food{
     width: 100%;
     height: 100%;
     background-color: #dedede;
     border: #999 3px solid;
}