body{
     background-color: #414141;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
}
.score{
     display: flex;
     justify-content: center;
     gap: 30vw;
}

.board-1{
    
     border: 10px solid #595f43;
     border-radius: 30px;
     box-shadow: 0 0 0 10px #595f43;
}
.board-2{
     width: 645px;
     height: 645px;
     border: 5px solid #345253;
     border-radius: 10px;
     box-shadow: #345253;
}
.board-3{
     width: 640px;
     height: 640px;
     border: 5px solid #878787;
     border-radius: 6px;
}
#game-board{
     border-radius: 100px;
     display: grid;
     grid-template-columns: repeat(20,20px);
     grid-template-rows: repeat(20,20px);
     margin: 5px;
}